#top{
    background: #f0f0f0;
    font-size: 0.8em;
    font-family: "DejaVu Sans", "Bitstreams Vera Sans", helvetica, arial;
    padding: 0.18em;
    margin: 0px;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    white-space: nowrap;
    overflow: hidden;
}

#top a {
    color: #0771a6;
    text-decoration: none;
}

#top a:hover {
    text-decoration: underline;
}

#content {
    width: 750px;
    margin: 0 auto;
    padding-top: 1em;
    text-align: center;
    font-family: helvetica, arial;
    font-size: 0.78em;
}

#content img {
    border: 0;
}

#content a, a:visited {
    text-decoration: none;
    color: #000;
}

#content a:hover {
    text-decoration: underline;
}

h2 {
    font-size: 1em;
    text-align: center;
    color: #0771a6;
    font-variant: small-caps;
}

h3 {
    font-size: 0.9em;
    margin-bottom: 0px;
    text-align: center;
}

#updates {
    font-family: "DejaVu Sans", "Bitstream Vera Sans", "Lucida Grande", Arial, sans-serif;
    width: 26.2em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5em;
}

#updates div {
    display: inline-block;
    vertical-align: top;
}

#updates div ul {
    background-color: #f0f0f0;
    list-style-type: none;
    /*margin-left: 0.7em;*/
    margin-top: 0em;
    padding: 0.4em;
    width: 12em;
    font-size: 0.9em;
    overflow: hidden;
    white-space: nowrap;
    border: gray 1px solid;
    /*text-align: center;*/
}

#updates a {
    color: #000;
    text-decoration: none;
}

#i686 {
    margin-left: 0em;
}

#x86_64 {
    margin-left: 2.5em;
}

#footer {
    font-family: "DejaVu Sans", "Bitstreams Vera Sans", helvetica, arial;
    font-size: 0.8em;
    padding-top: 2em;
    text-align: center;
}

#footer a {
    color: #0771A6;
    text-decoration: none;
}

