<!doctype html>
<html>
<head>
    <title>Home Page</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}"/>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#top').load('{{ url_for('fetch_feed', name='news') }}');
            $('#i686pkgs').load('{{ url_for('fetch_feed', name='pkgs_x86') }}');
            $('#x86_64pkgs').load('{{ url_for('fetch_feed', name='pkgs_x64')}}');
        });
    </script>
</head>
<body onload="document.forms['f'].elements['q'].focus();">
    <div id="top">
        News: Loading...
    </div>
    <div id="content">
        <a href="http://archlinux.org"><img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" /></a><br />
        <form name="f">
            <input type="radio" name="sub" value="google" checked="checked"/><a href="http://google.com">Google</a> &nbsp;&nbsp;
            <input type="radio" name="sub" value="bbs"/> <a href="https://bbs.archlinux.org">Forums</a> &nbsp;&nbsp;
            <input type="radio" name="sub" value="wiki"/> <a href="https://wiki.archlinux.org">Wiki</a> &nbsp;&nbsp;
            <input type="radio" name="sub" value="aur"/> <a href="https://aur.archlinux.org">AUR</a> &nbsp;&nbsp;
            <input type="radio" name="sub" value="bugs"/> <a href="https://bugs.archlinux.org">Bugs</a>

            <br /><br />

            <input id="q" name="q" type="text" size="40" /><input id="search_btn" type="submit" value="Search" />

        </form> 
    </div>
    <script>
        $("form").submit(function( event ) {
            var service = $("input[type='radio'][name='sub']:checked").val();
            var query = $('#q').val()
            switch(service) {
                case 'google':
                    var url='https://google.com/search?q=';
                    break;
                case 'bbs':
                    var url='https://bbs.archlinux.org/search.php?action=search&show_as=topics&keywords=';
                    break;
                case 'wiki':
                    var url='https://wiki.archlinux.org/index.php/Special:Search?search=';
                    break;
                case 'aur':
                    var url='https://aur.archlinux.org/packages.php?K=';
                    break;
                case 'bugs':
                    var url='https://bugs.archlinux.org/index.php?string=';
                    break;
            }
            window.location = url + query;

            event.preventDefault();
            return false;
        });
    </script>
    <div id="updates">
        <h2>Recent Updates</h2>
        <div id="i686">
            <h3>i686</h3>
            <div id="i686pkgs">
                <ul>
                    <li>Loading...</li>
                </ul>
            </div>
        </div>
        <div id="x86_64">
            <h3>x86_64</h3>
            <div id="x86_64pkgs">
                <ul>
                    <li>Loading...</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="footer">
        Inspired by the <a href="http://bbs.archlinux.org/viewtopic.php?id=69554&amp;p=1">Arch Linux Community</a>. Source at <a href="http://github.com/pyther/arch-
        The Arch Linux name and logo are recognized <a href="http://wiki.archlinux.org/index.php/DeveloperWiki:TrademarkPolicy">trademarks</a>. Some rights reserved.
    </div>
</body>
</html>
